body {
	background-color: #121D24;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

button {
  border: none;
  background-color: #4CC2FF;
  border-radius: 5px;
  font-weight: bold;
  color: #17252e;
  padding: 5px 15px;
}

.hue-horizontal {
	height: 1000px;
}

#app {
	z-index: 2;
	user-select: none;
}

#loading {
	position: absolute;
	right: 10px;
	top: 23px;
	width: 70px;
}

@keyframes borderShrink {
  from {border-radius: 5px}
  to {border-radius: 10px}
}


#modeChoices, #pong-controller {
	touch-action: manipulation;
	margin: auto auto;
	width: 80vw;
	height: 30vw;
	display: flex;
  justify-content: center;
	align-items: center;
	gap: 8vw;
	border: 2px solid black;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.2);

}


#modeChoices button, #pong-controller button {
	box-shadow: 0px 10px 30px 10px rgba(52, 52, 52, 0.311);
	background-color: #55c2da;
  width: 20vw;
  height: 10vw;
	font-size: 2vw;
	font-weight: bold;
}

#modeChoices button:hover, #pong-controller button:hover {
	animation: button .7s forwards;
}

@keyframes button {
	to {background-color:rgba(5, 1, 105, 0.287); border-radius: 10px;}
}


#bottom-button {
  position: fixed;
  border-radius: 10px 10px 0 0;
  border: none;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CC2FF;
  font-weight: bold;
  font-size: 100%;
  bottom: 0;
  padding: 1% 10%;
}

#checkmark {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: 35px;
  margin-left: 5px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='lightgreen' d='M12 2a10 10 0 1 0 10 10A10.011 10.011 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8.009 8.009 0 0 1-8 8z'/%3E%3Cpath fill='lightgreen' d='M16.293 8.293 11 13.586l-2.293-2.293-1.414 1.414L11 16.414l6.707-6.707-1.414-1.414z'/%3E%3C/svg%3E");
}

#popup-closer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.308);
}
